.btn {
  background: #26243a;
  margin-bottom: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #f6921e;
  width: 100%;
  border: 0;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    background: #f6921e;
    color: #26243a;
  }
}
