@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import './base.scss';
@import './btn.scss';
@import './menu.scss';
@import './results.scss';
@import './title.scss';
@import './widget.scss';
@import './leaderboard.scss';
@import './credits.scss';
@import './nav.scss';

.screens {
  max-width: 460px;
  margin: 0 auto;
}

.game-screen .screen-content {
  display: flex;
}

.gameStats {
  margin-left: 20px;
}

.screen {
  display: none;
}

.show {
  display: block;
}

.game-restart {
  margin-top: 20px;
}

.end-screen .title {
  font-size: 60px;
}
