.menu {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;

  &-item {
    background: #26243a;
    margin-bottom: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #f6921e;

    &:hover {
      background: #f6921e;
      color: #26243a;
    }
  }
}
