.nav {
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: right;

  &-item {
    font-size: 15px;
    border: 0;
    background: transparent;
    font-weight: bold;
    color: #f6921e;
    cursor: pointer;
    position: relative;
    
    &:after {
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: -10px;
      left: 0;
      border-bottom: 2px dashed #f6921e;
      display: none;
    }

    &:hover {
      &:after {
        display: block;
      }
    }
  }
}
