.results {
  background: #26243a;
  border-radius: 5px;
  margin-bottom: 20px;

  &-icon {
    font-size: 100px;
    text-align: center;
  }

  &-score {
    text-align: center;
    font-size: 30px;

    &-value {
      color: #f6921e;
      font-size: 50px;
    }
  }
}
